name: Arduino Lint

on:
  push:
    paths-ignore:
      - '**.md'
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: IskakINO_ArduFast

      - name: Arduino Lint
        uses: arduino/arduino-lint-action@v1
        with:
          path: ./IskakINO_ArduFast
          # Kita gunakan 'specification' agar dia hanya mengecek aturan dasar folder dan file
          compliance: specification
          # Kita hapus baris library-manager agar tidak terjadi kesalahan konfigurasi lagi
