name: Arduino Lint

on:
  push:
    paths-ignore:
      - '**.md'
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      # Langkah 1: Checkout kode ke dalam folder dengan nama yang LEGAL
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: IskakINO_ArduFast

      # Langkah 2: Jalankan Linter dengan mengarahkan ke folder tersebut
      - name: Arduino Lint
        uses: arduino/arduino-lint-action@v1
        with:
          path: ./IskakINO_ArduFast
          # Mengabaikan pengecekan library manager karena kita fokus ke kualitas kode dulu
          library-manager: update 

      # Langkah 3: (Opsional) Verifikasi struktur folder
      - name: Check Folder Structure
        run: ls -R ./IskakINO_ArduFast
